.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-height: 600px;
    background-color: var(--primary-color);
    text-align: center;
}

.hero-container {
    flex-basis: 328px;
}

.hero-container h1 {
    margin-bottom: 48px;
}

.hero-container h3 span {
    display: block;
}
